<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561399699369-vmt8c3ut214l5k3nik8ssdradvpm6ork.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561399699369-vmt8c3ut214l5k3nik8ssdradvpm6ork</string>
	<key>API_KEY</key>
	<string>AIzaSyBms2a_77Xq-DoI5Sv8w9w9G3NWL-wbe40</string>
	<key>GCM_SENDER_ID</key>
	<string>561399699369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.suleimenov.olzhas.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-3b2df</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-3b2df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561399699369:ios:3192d45412893f4f1b96b8</string>
</dict>
</plist>